{#
/**
 * Block Name: sessions filtrés
 *
 */
#}
{% for item in curated_sessions %}
    {% set color ='--color: ' %}
    {% for tag in item.terms('domains') %}
        {% for value in tag.domain_color %}
            {% if loop.index < 4 %}
                {% set color = color ~ value %}
            {% endif %}
            {% if loop.index < 3 %}
                {% set color = color ~ ',' %}   
            {% endif %}
        {% endfor %}
    {% endfor %}
    <div {% if item.alternative_link.target %}target="{{ item.alternative_link.target }}"{% endif %} {% if item.alternative_link.target %}rel="noopener"{% endif %} data-type="{{item.type}}" class="card" style="{{color}};">
        {% if item.thumbnail %}
            {%  set card_picture = item.thumbnail %}
        {% else %}
            {%  set card_picture = sessions_default_picture %}
        {% endif %}
        {% set distanciel = false %}
        {% set alternance = false %}
        {% for term in item.terms('distant') %}
            
            {% if term|lower == "distanciel" %}
                {% set distanciel = true %} 
            {% endif %}
        {% endfor %} 
        {% for term in item.terms('rythms') %}
            {% if term|lower == "alternance" %}
                {% set alternance = true %} 
            {% endif %}
        {% endfor %} 
         {% if distanciel and alternance %}
            <p class="additional-tag">DISTANCIEL & ALTERNANCE</p>
        {% elseif distanciel %}
            <p class="additional-tag">DISTANCIEL</p>
        {% elseif alternance %}
            <p class="additional-tag">ALTERNANCE</p>
        {% endif %}
            <picture class="picture">
                <source
                type="image/webp"
                srcset="{{ Image(card_picture).src|towebp }}, {{ Image(card_picture).src|retina(2)|towebp }} 2x"
                >
                <source
                type="image/jpeg"
                srcset="{{ Image(card_picture).src|tojpg }}, {{ Image(card_picture).src|retina(2)|tojpg }} 2x"
                >
                <img src="{{ Image(card_picture).src }}" width="{{ Image(card_picture).width }}" height="{{ Image(card_picture).height }}" loading="lazy" alt="{{ Image(card_picture).alt }}" />
            </picture>
        
        {% for tag in item.terms('domains') %}
            <p class="tag">{{tag}}</p>
        {% endfor %}
        <h4 class="title">
            {% if item.alternative_link.url ==  current_url %}
                <span>
                    {{item.short_title}} 
                </span>
            {% else %}
                <a href="{{item.alternative_link.url}}">
                    {{item.short_title}}
                </a>
            {% endif %}
        </h4>
        <p class="description">{% if item.excerpt %}{{ item.excerpt }}{% else %}{{item.description}}{% endif %}</p>

        <div class="separator"></div> 
        
        {% for custom_char in item.meta('custom_chars') %}
            <p class="characteristic">
                {% if custom_char.picto %}
                <picture class="picto">
                    <source
                    type="image/webp"
                    srcset="{{ Image(custom_char.picto).src|towebp }}, {{ Image(custom_char.picto).src|retina(2)|towebp }} 2x"
                    >
                    <source
                    type="image/jpeg"
                    srcset="{{ Image(custom_char.picto).src|tojpg }}, {{ Image(custom_char.picto).src|retina(2)|tojpg }} 2x"
                    >
                    <img class="fit-cover" src="{{ Image(custom_char.picto).src }}" width="{{ Image(custom_char.picto).width }}" height="{{ Image(custom_char.picto).height }}" loading="lazy" alt="{{ Image(custom_char.picto).alt }}" />
                </picture>
                {% endif %}
                <span>{{custom_char.characteristic}}</span>
            </p>
        {% endfor %}
        {% if item.link %}
            <a href="{{ item.link }}" class="cta secondary">
                <span>{% if fields.listing_type == "events" %}{{ item.discover_event_label }}{% elseif fields.listing_type == "sessions" %}{{ item.discover_training_label }}{% elseif fields.listing_type == "post" %}{{ item.discover_post_label }}{% endif %}</span>
            </a>
        {% endif %}
    </div>
{% endfor %}