{#
/**
 * Block Name: Jobs Offers
 */
#}
<section class="block-jobs-offers{{ block.className }} {% if fields.dark %}{% else %}black{% endif %} {% if fields.block_space != 'none' %} section-{{ fields.block_space }} {% endif %}{% if fields.space_bottom == false %} pb-0 {% endif %}{% if fields.space_top == false %} pt-0 {% endif %}" style="--top-mask-color:{{fields.top_mask_color}};--bottom-mask-color:{{fields.bottom_mask_color}};">

    <div class="container{% if fields.reversed %}reversed{% endif %}">
     {% if fields.title %}<h2 class="title">{{fields.title}}</h2>{% endif %}

     {% if fields.bloc_cards|length > 0 %}
            <div class="wrapper-cards">
                {% for item in fields.bloc_cards %}
                    <div class="card">
                        <div class="wrapper-content">
                            {% if item.picture %}
                                <picture class="picture">
                                    <source
                                    type="image/webp"
                                    srcset="{{ Image(item.picture).src|towebp }}, {{ Image(item.picture).src|retina(2)|towebp }} 2x"
                                    >
                                    <source
                                    type="image/jpeg"
                                    srcset="{{ Image(item.picture).src|tojpg }}, {{ Image(item.picture).src|retina(2)|tojpg }} 2x"
                                    >
                                    <img src="{{ Image(item.picture).src }}" width="{{ Image(item.picture).width }}" height="{{ Image(item.picture).height }}" loading="lazy" alt="{{ Image(item.picture).alt }}" />
                                </picture>
                            {% endif %}
                            <div class="wrapper-text">
                                {% if item.title %}<h4 class="title">{{item.title}}</h4>{% endif %}
                                {% if item.text %}<p class="content"> {{item.text}}</p>{% endif %}

                                {% if item.bloc_list|length > 0 %}
                                    <ul class="wrapper-list">
                                        {% for list in item.bloc_list %}
                                            <li class="list">
                                                <picture class="icon">
                                                <source
                                                type="image/webp"
                                                srcset="{{ Image(list.icon).src|towebp }}, {{ Image(list.icon).src|retina(2)|towebp }} 2x"
                                                >
                                                <source
                                                type="image/jpeg"
                                                srcset="{{ Image(list.icon).src|tojpg }}, {{ Image(list.icon).src|retina(2)|tojpg }} 2x"
                                                >
                                                <img src="{{ Image(list.icon).src }}" width="{{ Image(list.icon).width }}" height="{{ Image(list.icon).height }}" loading="lazy" alt="{{ Image(list.icon).alt }}" />
                                            </picture>
                                            {% if list.text %}<p class="content"> {{list.text}}</p>{% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            
                        </div>
                        {% if item.button.url %}
                        <a href="{{item.button.url}}" class="cta primary {% if item.dark %}white{% endif %}">{{item.button.title}}</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>