{#
/**
 * Block Name: Horizontal steps 
 */
#}

<section class="block-horizontal-steps {{ fields.className }}{% if fields.block_space != 'none' %} section-{{ fields.block_space }} {% endif %}{% if fields.space_bottom == false %} pb-0 {% endif %}{% if fields.space_top == false %} pt-0 {% endif %}">
	<div class="container {% if fields.steps|length is even %}even{% endif %}" style="--total:{{((fields.steps|length + 1) / 2)|number_format(0)}}">
	        <div class="tiles-pattern-wrapper tech-pattern-wrapper" ></div>  
		{% if fields.title %}
		<h2 class="wrapper-title">{{fields.title}}</h2>
		{% endif %}
		<div class="responsive-display">
			{% for item in fields.steps %}
				<div class="step">
					<p class="index">{{ loop.index }}</p>
					{{ item.text_content }}
				</div>
			{% endfor %}		
		</div>
		<div class="top">		
			<div class="empty"></div>
			{% for item in fields.steps %}
				{% if (loop.index is even) %}
					<div class="step">
						<p class="index">{{ loop.index }}</p>
						{{ item.text_content }}
					</div>
				{% endif %}
			{% endfor %}	
		</div>
		<div class="bottom " >

			{% for item in fields.steps %}
				{% if (loop.index is odd) %}
					<div class="step">
						<p class="index">{{ loop.index }}</p>
						{{ item.text_content }}
					</div>
				{% endif %}
			{% endfor %}
		</div>

	</div>
	<div class="container">
		<div class="bottom-text">
		{{ fields.bottom_text}}

		</div>
		{% if fields.bottom_link.url %}
		                    
            <a href="{{fields.bottom_link.url}}" class="cta primary "><span>{{fields.bottom_link.title}}</span></a>
                        
		{% endif %}
	</div>
</section>


