{#
/**
 * Block Name: Evènements filtrés
 *
 */
#}
{% for item in curated_events %}
    {% set color ='--color: ' %}
    {% for value in item.meta('event_color') %}
        {% if loop.index < 4 %}
            {% set color = color ~ value %}
        {% endif %}
        {% if loop.index < 3 %}
            {% set color = color ~ ',' %}
        {% endif %}
    {% endfor %}
    
    <a href="{% if item.alternative_link.url %}{{item.alternative_link.url}}{% else %}{{ item.link }}{% endif %}" {% if item.alternative_link.target %}target="{{ item.alternative_link.target }}"{% endif %} {% if item.alternative_link.target %}rel="noopener"{% endif %} data-type="{{item.type}}" class="card" style="{{color}};">

        {% if item.thumbnail %}
            {%  set card_picture = item.thumbnail %}
        {% else %}
            {%  set card_picture = events_default_picture %}
        {% endif %}
            <picture class="picture">
                <source
                type="image/webp"
                srcset="{{ Image(card_picture).src|towebp }}, {{ Image(card_picture).src|retina(2)|towebp }} 2x"
                >
                <source
                type="image/jpeg"
                srcset="{{ Image(card_picture).src|tojpg }}, {{ Image(card_picture).src|retina(2)|tojpg }} 2x"
                >
                <img src="{{ Image(card_picture).src }}" width="{{ Image(card_picture).width }}" height="{{ Image(card_picture).height }}" loading="lazy" alt="{{ Image(card_picture).alt }}" />
            </picture>
        
        <h5 class="title">{{item.title}}</h5>
        <h4 class="event-date">{{item.start_date|date("d/m/y")}}</h4>
        <p class="description">{% if item.excerpt %}{{ item.excerpt }}{% else %}{{item.description}}{% endif %}</p>
        
        
        {% for custom_char in item.meta('custom_chars') %}
            <p class="characteristic">
                {% if custom_char.picto %}
                <picture class="picto">
                    <source
                    type="image/webp"
                    srcset="{{ Image(custom_char.picto).src|towebp }}, {{ Image(custom_char.picto).src|retina(2)|towebp }} 2x"
                    >
                    <source
                    type="image/jpeg"
                    srcset="{{ Image(custom_char.picto).src|tojpg }}, {{ Image(custom_char.picto).src|retina(2)|tojpg }} 2x"
                    >
                    <img class="fit-cover" src="{{ Image(custom_char.picto).src }}" width="{{ Image(custom_char.picto).width }}" height="{{ Image(custom_char.picto).height }}" loading="lazy" alt="{{ Image(custom_char.picto).alt }}" />
                </picture>
                {% endif %}
                <span>{{custom_char.characteristic}}</span>
            </p>
        {% endfor %}
        {% if item.link %}
            <p class="cta secondary">
                <span>{{ item.discover_event_label }}</span>
            </p>
        {% endif %}
        
    </a>
{% endfor %}