{#
/**
 * Block Name: Codir
 */
#}
<section class="block-codir{{ block.className }} {% if fields.dark %}{% else %}black{% endif %} {% if fields.block_space != 'none' %} section-{{ fields.block_space }} {% endif %}{% if fields.space_bottom == false %} pb-0 {% endif %}{% if fields.space_top == false %} pt-0 {% endif %}" style="--top-mask-color:{{fields.top_mask_color}};--bottom-mask-color:{{fields.bottom_mask_color}};">
    <div class="container{% if fields.reversed %}reversed{% endif %}">
        <div class="wrapper-top">
         {% if fields.title %}<h2 class="title">{{fields.title}}</h2>{% endif %}
         {% if fields.text %}{{fields.text}}{% endif %}
        </div>
        {% if fields.bloc_cards|length > 0 %}
            <div class="wrapper-cards">
                {% for item in fields.bloc_cards %}
                    <div class="card">
                        {% if item.picture %}
                            <picture class="picture">
                                <source
                                type="image/webp"
                                srcset="{{ Image(item.picture).src|towebp }}, {{ Image(item.picture).src|retina(2)|towebp }} 2x"
                                >
                                <source
                                type="image/jpeg"
                                srcset="{{ Image(item.picture).src|tojpg }}, {{ Image(item.picture).src|retina(2)|tojpg }} 2x"
                                >
                                <img src="{{ Image(item.picture).src }}" width="{{ Image(item.picture).width }}" height="{{ Image(item.picture).height }}" loading="lazy" alt="{{ Image(item.picture).alt }}" />
                            </picture>
                        {% endif %}

                        <div class="wrapper-content">
                            <div class="wrapper-info">
                            {% if item.name %}<h4 class="title">{{item.name}}</h4>{% endif %}
                            {% if item.job %}{{item.job}}{% endif %}
                            </div>
                            {% if item.link.url %}
                            <a class="wrapper-link" href="{{item.link.url}}" {% if item.link.target %}target="{{item.link.target}}"{% endif %}>lien linkedin</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>